@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-snack-bar-container {
  &.bg-success {
    --mdc-snackbar-container-color: theme('colors.green.100');
    --mat-mdc-snack-bar-button-color: theme('colors.green.700');
    --mdc-snackbar-supporting-text-color: theme('colors.green.700');
  }

  &.bg-error {
    --mdc-snackbar-container-color: theme('colors.red.100');
    --mat-mdc-snack-bar-button-color: theme('colors.red.700');
    --mdc-snackbar-supporting-text-color: theme('colors.red.700');
  }

  &.bg-info {
    --mdc-snackbar-container-color: theme('colors.blue.100');
    --mat-mdc-snack-bar-button-color: theme('colors.blue.700');
    --mdc-snackbar-supporting-text-color: theme('colors.blue.700');
  }

  &.bg-warning {
    --mdc-snackbar-container-color: theme('colors.yellow.100');
    --mat-mdc-snack-bar-button-color: theme('colors.yellow.700');
    --mdc-snackbar-supporting-text-color: theme('colors.yellow.700');
  }
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0000002b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-icon {
  font-family: 'Material Icons Outlined' !important;
  font-feature-settings: 'liga' !important;
}

mat-icon:hover,
mat-icon:focus,
mat-icon:active,
.selected {
  font-family: 'Material Icons' !important;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

@include mat.typography-hierarchy(
  mat.define-theme(
    (
      typography: (
        use-system-variables: true,
        system-variables-prefix: mat-sys,
      ),
    )
  )
);
