name: Make Desktop App

on:
  push:
    branches:
      - develop

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        arch: [x64, arm64]
        node-version: [20.11.1]
        include:
          - os:  macos-12
            arch: x64
    uses: ./.github/workflows/reusable-build.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      node-version: ${{ matrix.node-version }}
