name: Make Desktop App

on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: 'Run the build with debug logging'
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        arch: [x64, arm64]
        node-version: [22.14.0]

    uses: ./.github/workflows/reusable-build.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      node-version: ${{ matrix.node-version }}
