name: Make Desktop App

on:
  push:
    branches:
      - develop

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        arch: [x64, arm64]
        node-version: [22.14.0]

    uses: ./.github/workflows/reusable-build.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      node-version: ${{ matrix.node-version }}
